<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Way Finder - Error Page</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>
<body>
<div id="all">
  <!-- Top bar end-->
  <!-- Navbar Start-->
  <header class="nav-holder make-sticky">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
      <div class="container"><a onclick="onclickImg();" href="#" class="navbar-brand home"><img src="img/title-image.png" alt="Cubic lab logo" class="d-none d-md-inline-block"><img src="img/title-image-small.jpg" alt="Cubic lab logo" class="d-inline-block d-md-none"></a>
        <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>

        <div id="search" class="collapse clearfix">
          <form role="search" class="navbar-form">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- Navbar End-->

</div>
<div id="content">
  <div id="contact" class="container">
    <section class="bar">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h2>Oops! Something went wrong!</h2>
          </div>
          <p id = "genericerrortext" class="lead">Rest assured we are looking into it and will get back to you as soon as possible. We are sorry for the inconvenience caused!</p>
          <p hidden id = "loginerrortext" class = "lead">Your session has expired. Please login again.</p>
          <p hidden id = "underageerrortext" class = "lead">You have to be 18 years or older to participate in this study.</p>
          <p hidden id = "networkerrortext" class = "lead">Seems there is some problem with the network. Please try again in a few minutes. If the issue persists, please contact us. We are sorry for the inconvenience caused!</p>
          <p hidden id = "loginactiontext" class = "lead"><a href = "/">Click here to login</a></p>
        </div>
      </div>
    </section>
    <section>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-envelope"></i></div>
            <p style="font-size: x-large" >Please feel free to write an email to us.</p>
            <ul class="list-unstyled text-sm">
              <li><strong><a style="font-size: x-large; color: dimgray;" href="mailto:">cubicvoice@gmail.com</a></strong></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
<!-- FOOTER -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4 class="h6">About Us</h4>
        <p>The Center for Cognitive Ubiquitous Computing (CUbiC) at Arizona State University is an inter-disciplinary research center focused on cutting edge research in human-centered multimedia computing focusing on assistive, rehabilitative and healthcare applications.</p>
        <p>You can read more about it at <a target="_blank" href = "https://cubic.asu.edu/">CUbiC Lab ASU</a></p>
      </div>
      <div class="col-lg-4">
        <h4 class="h6">About this Project</h4>
        <p>Read more about this project at <br><a target="_blank" href = "https://cubic.asu.edu/content/improving-intelligibility-dysarthric-speech">Project Link: Improving Intelligibilty of Speech</a></p>
        <hr class="d-block d-lg-none">
      </div>
      <div class="col-lg-4">
        <h4 class="h6">Contact</h4>
        <p class="text-uppercase"><strong>CUbiC Lab, Arizona State University</strong><br>699 S Mill Ave, 3rd floor<br>85281<br>Tempe, AZ <br><strong>US</strong></p><a href="/contact" class="btn" style="background-color: lightgrey; color: black">Go to contact page</a>
        <hr class="d-block d-lg-none">
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center-md">
          <p>&copy; 2018. ASU CUbiC Lab/Piyush</p>
        </div>
        <div class="col-lg-8 text-right text-center-md">
          <p>Template design by <a target="_blank" href="https://bootstrapious.com/free-templates">Bootstrapious Templates </a></p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Javascript files-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js"></script>
</body>
</html>