<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Select View</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/admin-view"><h3><b>Way Finder: An indoor mapping solution</b></h3></a>



      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <a class="navbar-brand mr-1" href="/">About</a>
      </form>

      <!-- Navbar -->
    </nav>

    <div id="wrapper">

      <div id="content-wrapper">

        <div class="container-fluid" >

          <!-- Page Content -->
          <h1 style="text-align: center;">Select View</h1>

          <div class="container" style="display: flex;text-align: center;">
            <!--<div class="fixed" style="width: 25%;height: 25%; background-color: #1c7430  " >Admin View</div>
            <div class="fixed" style="width: 25%;height: 25%; background-color:yellowgreen;margin-left: 10% ">Employee View</div>-->
            <button id="admViewBtn" class="btn-lg btn-primary"  type="button" style="margin-right: 1%;margin-left: 35%;">Admin View</button>
            <button id="empViewBtn" class="btn-lg btn-primary" type="button" >Employee View</button>
          </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer" style="width: 100%;">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © https://thebotspeaks.com</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <script>
        $("#admViewBtn").click(function(){
            console.log("admin view button clicked");
            window.location.href = "/admin-view";
        })

        $("#empViewBtn").click(function(){
            console.log("employee view button clicked");
            window.location.href = "/emp-view";
        })
    </script>
  </body>
</html>